<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div *ngFor="let product of data.values" class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <div class="card-img-top" [innerHTML]="product[3]">
                  </div>
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{product[0]}}</h5>
                          <!-- Product price-->
                          {{product[1]}}
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a target="_blank" class="btn btn-outline-dark mt-auto" href="{{product[4]}}">View options</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
