<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="assets/ebook-cover.png" alt="..." /></div>
          <div class="col-md-6">
              <div class="small mb-1">eBook</div>
              <h1 class="display-5 fw-bolder">Quick and Free eShop Project</h1>
              <div class="fs-5 mb-5">
                  <span class="text-decoration-line-through">$10.00</span>
                  <span>$7.99</span>
              </div>
              <p class="lead">This eBook directs you to the tools you need for a quick online shop implementation, using only free resources on the Web and free tier cloud services. You will use Bootstrap and Angular to create the web site, Google Sheets+API to manage your catalog, Firebase for web hosting and, finally, Amazon Affiliate links program to get your business going.</p>
              <div class="d-flex">
                  <a class="btn btn-outline-dark" href="https://leanpub.com/freeonlineshop" target="_blank">
                    <i class="bi-cart-fill me-1"></i>
                    Buy the eShop project book
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
